@using System.Collections
@model IEnumerable
@{
    ViewData["Title"] = "OgretmenListe";
}

<h1>OgretmenListe</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Tc Kimlik</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ogretmen item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.Tckimlik</td>
            </tr>
        }
    </tbody>
</table>